<table class="table">
        <thead>
            <tr>
                 <th>Image</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Prix</th>
                <th>Nom ph</th>
                  

            </tr>
        </thead>
        <tbody>
        
        {% for medicament in medicaments %}
            <tr>
            {% if medicament.image == "" %}
                <td> pas d'image </td>
                {% else %}
                <td><img src="/uploads/medicament/{{ medicament.image }}" style="width:100px"></td>
                {% endif %}
                <td>{{ medicament.Nom }}</td>
                <td>{{ medicament.Type }}</td>
                <td>{{ medicament.Prix }}</td>
                

                
               {% for pharmacy in medicament.id_pharmacie %}
           <td> {{ pharmacy.nom }}  </td>


                 </td>

               

                 

          
              {# {% if not loop.last %}, {% endif %} #}
             {% endfor %}

              <td>


                 <a href="{{ path('app_panierx_new', {'id': medicament.id}) }}"> 
                                 <button type="button" class="btn btn-primary">Ajouter</button>

                </a>

                </td>


                   {% endfor %}

            </tr>

     
            
        </tbody> 
    </table>
