{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <body>

		

		<!-- Start Page Banner Area -->
		<div class="page-banner-area bg-22 pt-100">
			<div class="container">
				<div class="page-banner-content">
					<h2>Book Online</h2>
					<ul>
						<li>
							<a href="{{path('app_reservation_index')}}">
								<i class="ri-home-8-line"></i>
								Display Consultation 
							</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Banner Area -->

		<!-- Start My Account Area -->
		<div class="my-account-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						
							<h2>Edit Consultation</h2>
<tr>
                            <td> {{ form_start(form) }}
								{{ form_row(form.start ) }}
								{{ form_row(form.end ) }}
								{{ form_row(form.comment ) }}
			
			 
								 {{ form_end(form) }}</td>
						

						<td>	{{ include('reservation/_delete_form.html.twig') }}</td>
                         
					</tr>

						
					</div>

				</div>
			</div>
		</div>
		<!-- End My Account Area -->

		

		<!-- Start Copyright Area -->
		<div class="copy-right-area">
			<div class="container">
				<p>© TechNess <a href="https://envytheme.com/" target="_blank">Team</a></p>
			</div>
		</div>
		<!-- End Copyright Area -->

		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class="ri-arrow-up-s-fill"></i>
			<i class="ri-arrow-up-s-fill"></i>
		</div>
		<!-- End Go Top Area -->


    </body>

{% endblock %}